@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  height: 60px;
  /* width: 60px; */
  border-radius: 50%;
  margin: 0.5rem;

  border-radius: 50%;
}

button.operand {
  background-color: #c3eaff;
  color: #000;
}

button.operator {
  background-color: #ffd0fd;
  color: #f967f3;
}

button.equal {
  background-color: #adf9e7;
  color: #000;

}